<?xml version="1.0" encoding="UTF-8"?>  
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"  version="3.1">
  

  <!-- Spring配置文件开始  -->   
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:spring.xml</param-value>
    </context-param>

    <!-- The spring's application-scoped ApplicationContext initializer when server startup -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
   <!-- Spring配置文件结束 -->
   
   

    <!-- Spring MVC配置文件开始 -->
    <servlet>
        <servlet-name>ChestnutServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <!-- The special config for this servlet -->
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring-mvc.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup><!-- load-on-startup必须放在最后 -->
    </servlet>
    <servlet-mapping>
        <servlet-name>ChestnutServlet</servlet-name>
       <!-- 请求时必须要带的后缀（如/或*.do，跟实际资源无关） -->
        <url-pattern>/</url-pattern>
    </servlet-mapping>
<!--     <servlet-mapping>
       <servlet-name>default</servlet-name>
       <url-pattern>*.ico</url-pattern>
    </servlet-mapping> 
    <mime-mapping>
　　<extension>ico</extension>
　　<mime-type>image/vnd.microsoft.icon</mime-type>
</mime-mapping>
    -->

  <!-- Spring MVC配置文件结束 -->

    <welcome-file-list>
        <welcome-file>/WEB-INF/views/front/home/index.html</welcome-file>
    </welcome-file-list>
     <error-page> 
	    <error-code>403</error-code> 
	    <location>/shared/404.jsp</location> 
	</error-page>
	<error-page> 
	    <error-code>404</error-code> 
	    <location>/shared/404.jsp</location> 
	</error-page> 
</web-app>
